/* -- Aniversarios -- */
#aniversariantes {
    height: 200px;
}
#aniversariantes h1 {
    font-size: 40px;
    color: #004E8F;
    margin-top: 140px;
}
#aniversariantes p {
    color: #1A75C1;
    margin-top: 30px;
    font-size: 30px;
}
#aniversariantes1 {
    margin-top: 100px;
    height: 50px;
}
#aniversariantes1 p {
    color: #1A75C1;
    margin-top: 30px;
    font-size: 30px;
}


/* -- Inputs Section Aniversários -- */
#present {
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-left: 15px;
}
.birthday {
    background-color: #1A75C1;
    border-radius: 40px;
    width: 190px;
    height: 30px;
}
.birthday a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
#msg {
    width: 600px;
    height: 30px;
    outline: none;
    border-color: #E0E0E0;
    border-radius: 40px;
}
#info img {
    width: 80px;
    height: 80px;
}
/* -- Final Inputs -- */



#btn {
    background-color: #1A75C1;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}
#btn a {
    text-decoration: none;
    color: #FFFFFF;
}
#eventos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h2 {
    font-size: 40px;
    color: #004E8F;
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

footer {
    background-color:#FFFFFF;
    flex-wrap: nowrap;
}
nav ul li {
   display: inline;
}
li {
    margin-left: 270px;
}
a {
    text-decoration: none;
    color: #595959;
}


